page-add-account {
    .card-header {
        font-size: 2rem !important;
        color: #2e4c6a;
    }
    .card {
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.36) !important;
        color: #2e4c6a;
        border-radius: 20px;
        position: relative;
        padding-bottom: 20px
    }
}