.indian-rupee-bigger:after{
    content:"\20B9"!important
}
.indian-rupee:after{
    content:"\20B9"!important
}
.black-rupee:after{
    content:"\20B9"!important
}


page-home {
    .myicon{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 90px;
        transition:all 0.5s ease-in
    }
    .clip{
        -webkit-clip-path: circle(50% at 51% 50%);
        clip-path: circle(50% at 51% 50%);
        height: 150px;
        width: 150px;
        background-color: #fff;
        position: absolute;
        top:4.5%;
        left:2%

    }
    .cover{
        opacity: 0;
        transition:all 0.5s ease-in
    }
    .overlay{
        height: 100%;
        width: 100%;
        top:0;
        background-color: #2e4c6ac4;
        position: fixed;
        z-index: 999;
        opacity: 1!important;
        transition:all 0.5s ease-in
    }
    .card-header {
        font-size: 2rem !important;
        color: #fff;
    }
    .card {
        background-color: #2e4c6a;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.36) !important;
        color: #fff;
        border-radius: 20px;
        position: relative;
    }
    .indian-rupee {
        padding-right: 10px;
        font-size: 1.2em;
        font-weight: 500
    }
    .card .main-card {
        font-size: 3.8em !important;
        color: #fff !important;
    }
    .indian-rupee-bigger {
        position: absolute;
        top: -73px;
        right: -9px;
        font-size: 16em;
        opacity: 0.3;
        font-weight: 600;
        
    }

    .btn {
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.36) !important;
        border-radius: 5px;
        background-color: rgb(98, 190, 106);
    }
    .btn1 {
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.36) !important;
        border-radius: 5px;
        background-color: rgb(224, 72, 79);
    }
    .btn-right {
        padding-right: 15px !important;
        font-family: Helvetica !important;
    }
    .btn-left {
        padding-left: 15px !important;
    }
    .card-list {
        background-color: #fff;
        min-height: 300px;
    }
    .card-list .card-header {
        color: #2e4c6a !important;
    }
    span {
        display: inline;
    }
    .total-left {
        float: right;
        font-size: 16px;
        padding: 5px;
        display: inline-flex;
    }
    .black-rupee {
        font-size: 2rem !important;
        margin-top:-3px;
        margin-right: 2px;
        padding-left: 10px;
        
    }
       .avater p {
        position: absolute;
        top: 50%;
        /* bottom: 0; */
        left: 50%;
        /* right: 0; */
        transform: translate(-50%, -50%);
        color: #fff;
    }
    ion-fab[bottom] {
        bottom: 15px;
        right: 30px!important;
    }
    .fab{
        height:65px!important;;
        width:65px!important;;
    }
    .fab ion-icon {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 4rem!important;
    }
}